//***** F O N T *****
$font-main: 'DM Sans', sans-serif;
$font-acent: 'Titan One', cursive;
//***** C O L O R *****
// header, products, btn-dark, contacts
$color1: #ffffff;
// header, btn-light, title, footer
$color2: #d41443;
// products, about, contacts, footer
$color3: #ffa5ba;
// about-text, advantages-text, reviews-text, cotacts, footer
$color4: #000000;
// footer, contacts, about
$color5: #907e82;
$color6: #e1e1e1;
$color6-btn: #d9d9d9;
$color7-btn-activ: #d31342;
$color8-gradient: #fafafa;
$color9-gradient: #e1e1e1;

$color-ice1: #f63a99;
$color-ice2: #30dcf6;
$color-ice3: #f2d200;
$color-ice4: #0cff7f;
$color-ice5: #e09c5f;
$color-ice6: #8d613b;

// BACKGROUND //
// header, products
$background1: #ffb8ca;
// btn-dark-hover
$background3: #c7133e;
// btn-light-hover
$background4: #ecebeb;
// products, contacts
$background5: #f0d1a5;
$background6: #c2e297;
// about, footer
$background7: #fff5f6;
// social-icon
$background8: #fea5bb;
//products-btn
$background9: #ffffff;
$background10: rgba(255, 255, 255, 0.5);

// ANIMATION

@mixin animation-slider($property) {
  transition-property: $property;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

@mixin animation($property) {
  transition-property: $property;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
