:root {
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --grey-text-color: #907e82;

  --secondary-title-color: #ffa5ba;

  --bg-color: #ffffff;
  --secondary-bg-color: #fff5f6;
  --third-bg-color: #ffb8ca;

  --accent-color: #d41443;
  --secondary-accent-color: #c7133e;
}
