//***** F O N T *****

$font-main: 'DM Sans', sans-serif;
$font-acent: 'Titan One', cursive;

@mixin font($ff, $fs, $fw, $lh, $ls, $fc) {
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
  color: $fc;
}

//***** C O L O R *****

$color1: #ffffff;
$color2: #d41443;
$color3: #ffa5ba;
$color4: #000000;
$color5: #907e82;
$color6: #e1e1e1;
$color6-btn: #d9d9d9;
$color7-btn-activ: #d31342;
$color8-gradient: #fafafa;
$color9-gradient: #e1e1e1;
$color10: rgba(0, 0, 0, 0.1);
$color11: rgba(33, 33, 33, 0.2);
$color12: #808080;
$color13: rgba(117, 117, 117, 0.5);
$color14: rgba(212, 20, 67, 0.85);

$color-ice1: #f63a99;
$color-ice2: #30dcf6;
$color-ice3: #f2d200;
$color-ice4: #0cff7f;
$color-ice5: #e09c5f;
$color-ice6: #8d613b;

$background1: #ffb8ca;
$background3: #c7133e;
$background4: #ecebeb;
$background5: #f0d1a5;
$background6: #c2e297;
$background7: #fff5f6;
$background8: #fea5bb;
$background9: #ffffff;
$background10: rgba(255, 255, 255, 0.5);
$background11: #e17992;
$background12: rgba(0, 0, 0, 0.2);
$background13: rgba(0, 0, 0, 0.5);
$background14: rgba(255, 165, 186, 0.05);
$background15: rgba(255, 165, 186, 0.3);

$color-shadow: rgba(34, 60, 80, 0.2);
$color-shadow2: rgba(212, 20, 67, 0.1);
$color-shadow3: rgba(0, 0, 0, 0.25);
$color-shadow4: rgba(0, 0, 0, 0.12);
$color-shadow5: rgba(0, 0, 0, 0.14);

// *****  A N I M A T I O N  *****

@mixin animation-slider($property) {
  transition-property: $property;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

@mixin animation($property) {
  transition-property: $property;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// *****  B U T T O N  *****

%button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-height: 24px;
  min-width: 62.4px;
  font-family: $font-main;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border: none;
  border-radius: 22px;
}
