//***** F O N T *****
$font-main: 'DM Sans', sans-serif;
$font-acent: 'Titan One', cursive;
//***** C O L O R *****
// header, products, btn-dark, contacts
$color1: #ffffff;
// header, btn-light, title, footer
$color2: #d41443;
// products, about, contacts, footer
$color3: #ffa5ba;
// about-text, advantages-text, reviews-text, cotacts, footer
$color4: #000000;
// footer, contacts, about
$color5: #907e82;
$color6: #E1E1E1;
// BACKGROUND //
// header, products
$background1: #ffb8ca;
// btn-dark-hover
$background3: #c7133e;
// btn-light-hover
$background4: #ecebeb;
// products, contacts
$background5: #f0d1a5;
$background6: #c2e297;
// about, footer
$background7: #fff5f6;
// social-icon
$background8: #fea5bb;
