<section class="about-section">
  <div class="about-container">
<p class="about-label">tradition and love</p>
  <h2 class="about-title">how it’s made?</h2>
  <div class="about-image">
    <picture>
      <source
        media="(min-width: 1080px)"
        srcset="./images/about/cow-desktop.webp 1x, ./images/about/cow@2x-desktop.webp 2x"
        type="image/webp"
      />
      <source
        media="(min-width: 1080px)"
        srcset="./images/about/cow-desktop.png 1x, ./images/about/cow@2x-desktop.png 2x"
        type="image/png"
      />
      <source
        media="(min-width: 768px)"
        srcset="./images/about/cow-tablet.webp 1x, ./images/about/cow@2x-tablet.webp 2x"
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="./images/about/cow-tablet.png 1x, ./images/about/cow@2x-tablet.png 2x"
        type="image/png"
      />
      <source
        media="(min-width: 320px)"
        srcset="./images/about/cow-mobile.webp 1x, ./images/about/cow@2x-mobile.webp 2x"
        type="image/webp"
      />
      <source
        media="(min-width: 320px)"
        srcset="./images/about/cow-mobile.png 1x, ./images/about/cow@2x-mobile.png 2x"
        type="image/png"
      />
      <img src="./images/about/cow-mobile.png" alt="cow and milk" loading="lazy" />
    </picture>
  </div>
  <div class="about-text-wrap">
    <p class="about-text-light">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
      eget, egestas eros. Maecenas eleifend erat at justo fringilla.
    </p>
    <p class="about-text-dark">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
      imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
      Cras massa nibh, tincidunt. Aliquam erat volutpat. <br />
      <br />
      Aenean accumsan.
    </p>
    <button type="button" class="about-btn-light">Read more</button>
  </div>
  </div>
  

  <!-- //////// модальное окно ///////// -->
</section>
