<section class="section-adv">
    <div class="container">
        <h2 class="visually-hidden">advantages</h2>
        <ul class="cards-adv">
            <li class="item-adv">
                <p class="text-pink">721</p>
                <p class="text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="item-adv">
                <p class="text-pink">16 kg</p>
                <p class="text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="item-adv">
                <p class="text-pink">84</p>
                <p class="text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>