<section class="section-adv">
    <div class="container-adv">
        <h2 class="visually-hidden">advantages</h2>
        <ul class="cards-adv list">
            <li class="item-adv">
                <p class="text-products">721</p>
                <p class="text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="item-adv">
                <p class="text-products apples">16 kg</p>
                <p class="text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="item-adv">
                <p class="text-products heart">84</p>
                <p class="text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>