<section id="contact" class="contacts">
    <div class="container">
        <h2 class="visually-hidden">Contacts</h2>

        <ul class="contacts-list list">
            <li class="contacts-item">
                <span class="contacts-name cafe">CAFE</span>
                <div class="place-info">
                    <h2 class="place-city">Chicago</h2>
                    <p class="place-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="timetable">
                    <h2 class="date">Monday - Friday</h2>
                    <p class="date-text">06:00 AM - 10:00 PM</p>

                    <h2 class="date">Saturday - Sunday</h2>
                    <p class="date-text">08:00 AM - 16:00 PM</p>
                </div>
                <div class="tel-wrapper">
                    <a class="contacts-tel link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                </div>

                <div class="email-wrapper">
                    <a class="contacts-email link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </li>

            <li class="contacts-item">
                <span class="contacts-name foodtruck">FOODTRUCK</span>
                <div class="place-info">
                    <h2 class="place-city">Los Angeles</h2>
                    <p class="place-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="timetable">
                    <h2 class="date">Monday - Friday</h2>
                    <p class="date-text">06:00 AM - 10:00 PM</p>

                    <h2 class="date">Saturday - Sunday</h2>
                    <p class="date-text">08:00 AM - 16:00 PM</p>
                </div>
                <div class="tel-wrapper">
                    <a class="contacts-tel link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                </div>

                <div class="email-wrapper">
                    <a class="contacts-email link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </li>

            <li class="contacts-item">
                <span class=" contacts-name cafe">CAFE</span>
                <div class="place-info">
                    <h2 class="place-city">New York</h2>
                    <p class="place-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="timetable">
                    <h2 class="date">Monday - Friday</h2>
                    <p class="date-text">06:00 AM - 10:00 PM</p>

                    <h2 class="date">Saturday - Sunday</h2>
                    <p class="date-text">08:00 AM - 16:00 PM</p>
                </div>
                <ul class="list">
                    <li> <a class="contacts-tel link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </li>

                    <li>
                        <a class="contacts-email link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="contacts-buttons">
            <div class="locations">
                <button aria-label="locations-button" class="btn-our-locations" type="button" data-modal-open>
                    Our Locations
                    <span class="arrow-icon">
                        <svg class="contacts-buttons--white" width="10" height="10">
                            <use href="./images/icons.svg#icon-vector-white"></use>
                        </svg>
                    </span>
                </button>
            </div>
            <div class="franchise">
                <button aria-label="franchise-button" class="btn-franchise" type="button">
                    Franchise
                    <span class="arrow-icon">
                        <svg class="contacts-buttons--red" width="10" height="10">
                            <use href="./images/icons.svg#icon-vector-red"></use>
                        </svg>
                    </span>
                </button>
            </div>
        </div>
    </div>

    <a class="back_to_top" title="GO-UP">
        <svg class="back_to_top-icon" width="40" height="60">
            <use href="./images/icons.svg#icon-back-top"></use>
        </svg>
    </a>
</section>