<footer class="footer container">
  
<div class="footer__text">
    <p class="footer__text--made">homemade ice cream made</p>
    <p class="footer__text--passion">with passion</p>
  </div>
  <div class="footer__icon">
    <!-- <ul>
      <li>
        <a href="https://github.com/" class="card__link"
          ><svg class="card__icon" width="20" height="20">
            <use href="../images/symbol-defs.svg#icon-github"></use></svg
        ></a>
      </li>
      <li>
        <a href="https://web.telegram.org/k/" class="card__link"
          ><svg class="card__icon" width="20" height="20">
            <use href="../images/symbol-defs.svg#icon-telegram"></use></svg
        ></a>
      </li>
      <li>
        <a href="https://www.facebook.com/Meta/" class="card__link"
          ><svg class="card__icon" width="20" height="20">
            <use href="../images/symbol-defs.svg#icon-facebook"></use></svg
        ></a>
      </li>
    </ul> -->
  

    <p class="footer__contact">
      Feel free to contact <a class="footer__tel" href="tel:+610383766284">+61 (0) 383 766 284</a>
    </p>

  </div>
  <div class="footer__sign">
    <p class="footer__copy">&#169; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>

