<div class="footer-section">
  <footer class="footer footer-container">
    <div class="footer-style">
      <div class="footer-text">
        <p class="footer-text-made">homemade ice cream made</p>
        <p class="footer-text-passion">with passion</p>
      </div>

      <div class="picture">
        <div class="icecream">
          <div class="flavor">
            <div class="flavours"></div>
          </div>
          <div class="stick"></div>
        </div>
      </div>

      <div class="footer-list">
        <ul class="footer-social">
          <li class="footer-item">
            <a href="https://github.com/" target="_blank" rel="noopener noreferrer"
              ><svg class="footer-icon">
                <use href="./images/icons.svg#icon-github"></use></svg
            ></a>
          </li>
          <li class="footer-item">
            <a href="https://web.telegram.org/k/" target="_blank" rel="noopener noreferrer"
              ><svg class="footer-icon">
                <use href="./images/icons.svg#icon-telegram"></use></svg
            ></a>
          </li>
          <li class="footer-item">
            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"
              ><svg class="footer-icon">
                <use href="./images/icons.svg#icon-facebook"></use></svg
            ></a>
          </li>
        </ul>

        <p class="footer-contact">
          Feel free to contact<a class="footer-tel" href="tel:+610383766284">+61 (0) 383 766 284</a>
        </p>
      </div>
    </div>
    <div class="footer-sign">
      <p class="footer-copy">&#169; 2019 - IceCream. All Rights Reserved.</p>
    </div>
  </footer>
</div>
