<section class="gallery-container container">
    <h2 class="heading visually-hidden">Icecream Gallery</h2>
    <ul class="masonry-list">
        <li class="masonry-item wrapper1">
            <div class="box1 box">
                <picture>
                    <source media="(min-width: 320px)"
                    srcset="
                    ./images/gallery/icecream1@1x.jpg   1x,
                    ./images/gallery/icecream1@2x.jpg 2x
                    "
                    />
                <img 
                src="#" 
                alt="Tasty icecream"
                width="137"
                >
                </picture> 
            
        </li>

        <li class="masonry-item wrapper2">
            <div class="box2 box">
                <picture>
                    <source media="(min-width: 320px)"
                    srcset="
                    ./images/gallery/icecream2@1x.jpg   1x,
                    ./images/gallery/icecream2@2x.jpg 2x
                    "
                    />
                <img 
                src="#" 
                alt="Pink icecream with ice"
                width="137"
                >
            </div>
            <div class="box3 box">
                <picture>
                    <source media="(min-width: 320px)"
                    srcset="
                    ./images/gallery/icecream3@1x.jpg   1x,
                    ./images/gallery/icecream3@2x.jpg 2x
                    "
                    />
                <img 
                src="#" 
                alt="Cone icecream"
                width="137"
                >
            </div>
        </li>

        <li class="masonry-item wrapper3">
            <div class="box4 box">
                <picture>
                    <source media="(min-width: 320px)"
                    srcset="
                    ./images/gallery/icecream5@1x.jpg   1x,
                    ./images/gallery/icecream5@2x.jpg 2x
                    "
                    />
                <img 
                src="#" 
                alt="Icecream with blueberry"
                width="286"
                >
            </div>
            <div class="box5 box">
                <picture>
                    <source media="(min-width: 320px)"
                    srcset="
                    ./images/gallery/icecream4@1x.jpg   1x,
                    ./images/gallery/icecream4@2x.jpg 2x
                    "
                    />
                <img 
                src="#" 
                alt="Woman with icecream"
                width="137"
                >
            </div>
        </li>

        <li class="masonry-item wrapper4">
            <div class="box6 box">
                <picture>
                    <source media="(min-width: 320px)"
                    srcset="
                    ./images/gallery/icecream6@1x.jpg   1x,
                    ./images/gallery/icecream6@2x.jpg 2x
                    "
                    />
                <img 
                src="#" 
                alt="Waiter puting blueberry on icecream"
                width="137"
                >
            </div>
            <div class="box7 box">
                <picture>
                    <source media="(min-width: 320px)"
                    srcset="
                    ./images/gallery/icecream7@1x.jpg   1x,
                    ./images/gallery/icecream7@2x.jpg 2x
                    "
                    />
                <img 
                src="#" 
                alt="Icecream on the street"
                width="137"
                >
            </div>
        </li>

        <li class="masonry-item wrapper5">
            <div class="box8 box">
                <picture>
                    <source media="(min-width: 320px)"
                    srcset="
                    ./images/gallery/icecream8@1x.jpg   1x,
                    ./images/gallery/icecream8@2x.jpg 2x
                    "
                    />
                <img 
                src="#" 
                alt="Dog licking icecream"
                width="137"
                >
            </div>
            <div class="box9 box">
                <picture>
                    <source media="(min-width: 320px)"
                    srcset="
                    ./images/gallery/icecream9@1x.jpg   1x,
                    ./images/gallery/icecream9@2x.jpg 2x
                    "
                    />
                <img 
                src="#" 
                alt="Chocolate icecream"
                width="137"
                >
            </div>
        </li>

        <li class="masonry-item wrapper6">
            <div class="box10 box">
                <picture>
                    <source media="(min-width: 320px)"
                    srcset="
                    ./images/gallery/icecream10@1x.jpg   1x,
                    ./images/gallery/icecream10@2x.jpg 2x
                    "
                    />
                <img 
                src="#" 
                alt="Cone with icecream on yellow wall"
                width="137"
                >
            </div>
        </li>
    </ul>
</section>