<body>
  <header class="header" id="hero">
    <div class="header-container container-one">
      <a class="logo link" href="./index.html">
        <img src="./images/logo.png" alt="Logo" class="logo-icon" />
      </a>
      <nav class="navigation">
        <ul class="navigation__list list">
          <li class="navigation__item">
            <a class="navigation__link link accent" href="#hero">Home</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link link" href="#about">About us</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link link" href="#made">How it's made?</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link link" href="#products">Our products</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="header-buttons">
        <button
          type="button"
          class="button-menu js-open-menu js-open-menu-hide"
          aria-expanded="false"
          aria-label="Menu"
        >
          <svg class="" width="20" height="12">
            <use href="./images/icons.svg#icon-Burger"></use>
          </svg>
        </button>
        <button
          type="button"
          class="main-button main-button--hidden js-buy-hide"
          data-header-modal-open
          aria-label="Buy now"
        >
          Buy now
          <svg class="main-button__icon" width="4" height="8">
            <use href="./images/icons.svg#icon-bracket"></use>
          </svg>
        </button>
      </div>
    </div>
  </header>
</body>
