<section class="hero" id="about">
  <div class="hero-bg container-one">
    <div class="hero-left">
      <div class="hero-main">
        <h1 class="hero-main__title">
          ice cream made with <span class="hero-main__title--accent">passion</span>
        </h1>
        <ul class="hero-main__list list">
          <li class="hero-main__item">
            <a class="link link-button link-button--text link-button--accent" href="#products"
              >Products</a
            >
          </li>
          <li class="hero-main__item">
            <a class="link link-button link-button--text" href="#made">How it's made?</a>
          </li>
        </ul>
      </div>
      <div class="hero-secondary">
        <p class="hero-secondary__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a class="link-button--hero link-button link" title="ORGANIC MILK" hero-milk-modal-open>
          <svg class="link-button__icon--hero" width="26" height="26">
            <use href="./images/icons.svg#icon-arrow_right"></use>
          </svg>
        </a>
      </div>
    </div>

    <img
      class="hero-icecream-p1 hero-icecream-element"
      src="./images/hero/anim/1.png"
      alt="animared part of icecream"
    />
    <img
      class="hero-icecream-p2 hero-icecream-element"
      src="./images/hero/anim/2.png"
      alt="animared part of icecream"
    />
    <img
      class="hero-icecream-p3 hero-icecream-element"
      src="./images/hero/anim/3.png"
      alt="animared part of icecream"
    />
    <img
      class="hero-icecream-p4 hero-icecream-element"
      src="./images/hero/anim/4.png"
      alt="animared part of icecream"
    />
    <img
      class="hero-icecream-p5 hero-icecream-element"
      src="./images/hero/anim/5.png"
      alt="animared part of icecream"
    />
    <img
      class="hero-icecream-p6 hero-icecream-element"
      src="./images/hero/anim/6.png"
      alt="animared part of icecream"
    />
    <img
      class="hero-icecream-p7 hero-icecream-element"
      src="./images/hero/anim/7.png"
      alt="animared part of icecream"
    />

    <picture class="hero-icecream-pic">
      <source
        srcset="
          ./images/hero/icecream-desktop@1x.webp 1x,
          ./images/hero/icecream-desktop@2x.webp 2x
        "
        media="(min-width:1280px)"
        type="image/webp"
      />

      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/hero/hero-icecream-desktop@1x.png 1x,
          ./images/hero/hero-icecream-desktop@2x.png 2x
        "
      />
      <source
        srcset="./images/hero/icecream-tablet@1x.webp 1x, ./images/hero/icecream-tablet@2x.webp 2x"
        media="(min-width:768px)"
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/hero-icecream-tablet@1x.png 1x,
          ./images/hero/hero-icecream-tablet@2x.png 2x
        "
      />
      <source
        srcset="./images/hero/icecream-tablet@1x.webp 1x, ./images/hero/icecream-tablet@2x.webp 2x"
        media="(min-width:768px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/hero/hero-icecream-mobile@1x.png 1x,
          ./images/hero/hero-icecream-mobile@2x.png 2x
        "
      />
      <img src="./images/hero/hero-icecream-mobile@1x.png" alt="jug of milk" />
    </picture>

    <div class="hero-right">
      <div class="hero-third">
        <ul class="hero-third__list list">
          <li class="hero-third__item">
            <p class="hero-third__item--text">
              <span class="hero-third__item--number">16</span>cafes
            </p>
          </li>
          <li class="hero-third__item">
            <p class="hero-third__item--text">
              <span class="hero-third__item--number">23</span>food trucks
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="products-backdrop is-hidden" hero-milk-modal>
    <div class="products-modal products-modal--fourth">
      <button class="products-modal__close-btn" hero-milk-modal-close>
        <svg
          class="products-modal__icon-close"
          width="18"
          height="18"
          fill="#000000"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15 4.108 13.892 3 9.5 7.392 5.108 3 4 4.108 8.392 8.5 4 12.892 5.108 14 9.5 9.608 13.892 14 15 12.892 10.608 8.5 15 4.108Z"
          />
        </svg>
      </button>
      <p class="products-modal__title products-modal__title--fourth">organic milk</p>
      <p class="products-modal__description products-modal__description--hero">
        Organic milk refers to a number of milk products from livestock raised according to organic
        farming methods. In most jurisdictions, use of the term "organic" or equivalents like "bio"
        or "eco", on any product is regulated by food authorities. In general these regulations
        stipulate that livestock must be: allowed to graze, be fed an organically certified fodder
        or compound feed, not be treated with most drugs (including bovine growth hormone), and in
        general must be treated humanely.
      </p>
    </div>
  </div>
</section>
