<section class="hero" id="about">
  <div class="hero-bg container-one">
    <div class="hero-left">
      <div class="hero-main">
        <h1 class="hero-main__title">
          ice cream made with <span class="hero-main__title--accent">passion</span>
        </h1>
        <ul class="hero-main__list list">
          <li class="hero-main__item">
            <a class="link link-button link-button--text link-button--accent" href="#products"
              >Products</a
            >
          </li>
          <li class="hero-main__item">
            <a class="link link-button link-button--text" href="#made">How it's made?</a>
          </li>
        </ul>
      </div>
      <div class="hero-secondary">
        <p class="hero-secondary__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a class="link-button--hero link-button link" title="ORGANIC MILK" hero-milk-modal-open>
          <svg class="link-button__icon--hero" width="26" height="26">
            <use href="./images/icons.svg#icon-arrow_right"></use>
          </svg>
        </a>
      </div>
    </div>

    <img
      class="hero-icecream-p1 hero-icecream-element"
      src="./images/hero/anim/1.png"
      alt="animared part of icecream"
    />
    <img
      class="hero-icecream-p2 hero-icecream-element"
      src="./images/hero/anim/2.png"
      alt="animared part of icecream"
    />
    <img
      class="hero-icecream-p3 hero-icecream-element"
      src="./images/hero/anim/3.png"
      alt="animared part of icecream"
    />
    <img
      class="hero-icecream-p4 hero-icecream-element"
      src="./images/hero/anim/4.png"
      alt="animared part of icecream"
    />
    <img
      class="hero-icecream-p5 hero-icecream-element"
      src="./images/hero/anim/5.png"
      alt="animared part of icecream"
    />
    <img
      class="hero-icecream-p6 hero-icecream-element"
      src="./images/hero/anim/6.png"
      alt="animared part of icecream"
    />
    <img
      class="hero-icecream-p7 hero-icecream-element"
      src="./images/hero/anim/7.png"
      alt="animared part of icecream"
    />

    <picture class="hero-icecream-pic">
      <source
        srcset="
          ./images/hero/icecream-desktop@1x.webp 1x,
          ./images/hero/icecream-desktop@2x.webp 2x
        "
        media="(min-width:1280px)"
        type="image/webp"
      />

      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/hero/hero-icecream-desktop@1x.png 1x,
          ./images/hero/hero-icecream-desktop@2x.png 2x
        "
      />
      <source
        srcset="./images/hero/icecream-tablet@1x.webp 1x, ./images/hero/icecream-tablet@2x.webp 2x"
        media="(min-width:768px)"
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/hero-icecream-tablet@1x.png 1x,
          ./images/hero/hero-icecream-tablet@2x.png 2x
        "
      />
      <source
        srcset="./images/hero/icecream-tablet@1x.webp 1x, ./images/hero/icecream-tablet@2x.webp 2x"
        media="(min-width:768px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/hero/hero-icecream-mobile@1x.png 1x,
          ./images/hero/hero-icecream-mobile@2x.png 2x
        "
      />
      <img src="./images/hero/hero-icecream-mobile@1x.png" alt="jug of milk" />
    </picture>

    <div class="hero-right">
      <div class="hero-third">
        <ul class="hero-third__list list">
          <li class="hero-third__item">
            <p class="hero-third__item--text">
              <span class="hero-third__item--number">16</span>cafes
            </p>
          </li>
          <li class="hero-third__item">
            <p class="hero-third__item--text">
              <span class="hero-third__item--number">23</span>food trucks
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
