<div class="mobile-menu js-menu-container" id="mobile-menu">
    <button class="mobile-menu__close js-close-menu">
        <svg class="mobile-menu__close-icon" width="14" height="14">
            <use href="./images/sprite.svg#icon-close"></use>
        </svg>
    </button>
    <button class="main-button main-button--mobile-menu" data-modal-open>Buy now
        <svg class="main-button__icon main-button__icon--mobile-menu">
            <use href="./images/sprite.svg#icon-bracket"></use>
        </svg>
    </button>
    <ul class="mobile-menu__list list">
        <li class="mobile-menu__item">
            <a class="mobile-menu__link link" href="#hero">Home</a>
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu__link link" href="#about">About us</a>
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu__link link" href="#made">How it’s made?</a>
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu__link link" href="#products">Our products</a>
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu__link link" href="#contact">Contact</a>
        </li>
    </ul>
</div>