<div class="mobile-menu js-menu-container" id="mobile-menu">
  <button class="mobile-menu__close js-close-menu">
    <svg class="mobile-menu__close-icon" width="14" height="14">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <button
    class="main-button main-button--mobile-menu js-close-buynow"
    data-header-modal-close-mobile
  >
    Buy now
    <svg class="main-button__icon main-button__icon--mobile-menu">
      <use href="./images/icons.svg#icon-bracket"></use>
    </svg>
  </button>
  <ul class="mobile-menu__list list">
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link js-close-home" href="#hero">Home</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link js-close-about" href="#about">About us</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link js-close-howitsmade" href="#made">How it’s made?</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link js-close-produvts" href="#products">Our products</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link js-close-contact" href="#contact">Contact</a>
    </li>
  </ul>
</div>
