<section id="products" class="products">
  <div class="container">
    <p class="products-label">100% natural</p>
    <h2 class="products-header">products</h2>
    <ul class="products-cards list">
      <li class="products-card">
        <div class="products-color pink">
          <h3 class="products-caption">ice cream</h3>
          <span class="products-caption-decoration"></span>
          <p class="products-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="products-btn" type="button" aria-label="Details" data-product-modal-open>
            <svg class="contacts-section-icon" width="20" height="20">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="products-card">
        <div class="products-color beige">
          <h3 class="products-caption">ice coffee</h3>
          <span class="products-caption-decoration"></span>
          <p class="products-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button
            class="products-btn"
            type="button"
            aria-label="Details"
            data-product-beige-modal-open
          >
            <svg class="contacts-section-icon" width="20" height="20">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="products-card">
        <div class="products-color green">
          <h3 class="products-caption">milkshakes</h3>
          <span class="products-caption-decoration"></span>
          <p class="products-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button
            class="products-btn"
            type="button"
            aria-label="Details"
            data-product-green-modal-open
          >
            <svg class="contacts-section-icon" width="20" height="20">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
