.section-adv {
  padding-top: 90px;
  padding-bottom: 0px;
}

.item-adv {
  padding-top: 90px;
  padding-bottom: 0px;
  width: 330px;
  height: 222px;
}

.text-pink {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 66px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 15px;
}

.text-pink::before {
  content: '';
  display: block;
  margin-bottom: 40px;
  background-image: ;
  width: 33px;
  height: 33px;
  background-size: cover;
}

.cards-adv {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -39px;
}

.item-adv {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: 30px;
  margin-top: 39px;
}
