ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-container {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;

  padding-left: 15px;
  padding-right: 15px;
  width: 100vw;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1080px;
  }
}

.footer {
  background-color: $background7;
  position: relative;
}

.footer-section {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.footer-style {
  @media screen and (max-width: 767px) {
    &::after {
      content: '';
      width: 100%;
      bottom: 89px;
      border: 1px solid $color6;

      position: absolute;
      right: 0;
    }

    padding-bottom: 42px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 91px;

    &::after {
      content: '';
      width: 100%;
      bottom: 66px;
      border: 1px solid $color6;

      position: absolute;
      right: 0;
    }
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 97px;

    &::after {
      content: '';
      width: 100%;
      bottom: 40px;
      border: 1px solid $color6;

      position: absolute;
      right: 0;
    }
  }
}

.footer-text {
  margin-bottom: 43px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    width: 234px;
  }

  @media screen and (min-width: 768px) {
    width: 340px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 100%;
  }
}

.footer-text-made {
  font-family: $font-acent;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;

  color: $color3;
  margin-bottom: 17px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    width: 340px;
    margin-bottom: 16px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    width: 472px;
  }
}

.footer-text-passion {
  font-family: $font-acent;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $color2;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
    display: flex;
  }
}

.picture {
  display: flex;
  position: absolute;

  @media screen and (max-width: 480px) {
    left: 75%;
    bottom: 65%;
  }

  @media screen and (min-width: 480px) {
    left: 70%;
    bottom: 65%;
  }

  @media screen and (min-width: 768px) {
    left: 50%;
    bottom: 45%;
  }

  @media screen and (min-width: 1280px) {
    left: 53%;
  }
}

.icecream > .flavor {
  position: relative;

  @media screen and (max-width: 480px) {
    width: 50px;
    height: 100px;
  }

  @media screen and (min-width: 480px) {
    width: 50px;
    height: 100px;
  }

  @media screen and (min-width: 1280px) {
    width: 80px;
    height: 150px;
  }

  border-radius: 1000px 1000px 180px 180px;
  overflow: hidden;

  &:after {
    content: '';

    position: absolute;

    @media screen and (max-width: 767px) {
      width: 17px;
      height: 60px;

      left: 10px;
      bottom: 40px;
    }

    @media screen and (min-width: 768px) {
      width: 17px;
      height: 60px;

      left: 10px;
      bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
      width: 20px;
      height: 90px;

      left: 15px;
      bottom: 60px;
    }

    border-radius: 50px;
    background: $background10;
  }
}

.icecream > .flavor > .flavours {
  position: relative;
  top: 0%;
  left: -20%;

  width: 140%;
  height: 120%;

  background-image: linear-gradient(
    0deg,
    $color-ice1 25%,
    $color-ice2 25%,
    $color-ice2 25%,
    $color-ice2 50%,
    $color-ice3 50%,
    $color-ice3 50%,
    $color-ice3 75%,
    $color-ice4 75%
  );
  background-position: 0px 0px;
  background-repeat: repeat-y;

  animation: flavours 100s linear infinite;
  transform: rotate(165deg);
}

.icecream > .stick {
  @media screen and (max-width: 480px) {
    width: 20px;
    height: 30px;
  }

  @media screen and (min-width: 480px) {
    width: 20px;
    height: 30px;
  }

  @media screen and (min-width: 1280px) {
    width: 30px;
    height: 50px;
  }

  background: $color-ice5;
  border-radius: 0 0 25px 25px;

  display: block;
  margin: 0 auto;

  &:after {
    display: block;
    content: '';

    @media screen and (max-width: 767px) {
      width: 100%;
      height: 12px;
    }

    @media screen and (min-width: 768px) {
      width: 100%;
      height: 12px;
    }

    @media screen and (min-width: 1280px) {
      width: 100%;
      height: 14px;
    }

    background: $color-ice6;
  }
}

@keyframes flavours {
  to {
    background-position: 0 -1000vh;
  }
}

.footer-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  @media screen and (min-width: 1280px) {
    display: block;
  }
}

.footer-social {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 50px;
  }
}

.footer-icon {
  fill: $background8;
  display: block;

  width: 32px;
  height: 32px;

  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }

  @include animation(fill);
  &:hover,
  &:focus {
    fill: $color2;
  }
}

.footer-item {
  @media screen and (max-width: 767px) {
    &:not(:first-child) {
      margin-left: 28px;
    }
  }

  @media screen and (min-width: 768px) {
    &:not(:first-child) {
      margin-left: 30px;
    }
  }

  @media screen and (min-widt: 1280px) {
    &:not(:first-child) {
      margin-left: 25px;
    }
  }
}

.footer-contact {
  font-family: $font-main;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.8;

  color: $color4;

  display: flex;
  justify-content: right;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    display: inline-block;
    width: 319px;
    text-align: right;
  }
}

.footer-tel {
  text-decoration: none;
  font-family: $font-main;
  font-weight: bold;
  line-height: 1.8;

  color: $color2;

  @media screen and (max-width: 767px) {
    font-size: 12px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.footer-sign {
  @media screen and (max-width: 767px) {
    display: block;
    width: 145px;
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 25px;
    padding-top: 22px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    padding-bottom: 18px;
    padding-top: 29px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 10px;
    padding-top: 9px;
  }
}

.footer-copy {
  font-family: $font-main;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;

  color: $color5;
}
