.header {
  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: transparent;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  @media screen and (min-width: 768px) {
    padding-top: 38px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 0;
  }
}

.logo__icon {
  width: 199px;
  height: 50px;
  @media screen and (min-width: 1280px) {
    margin-left: -40px;
  }
}

.navigation__list {
  display: none;
  @media screen and (min-width: 1280px) {
    display: flex;
  }
}
.navigation__item:not(:last-child) {
  margin-right: 35px;
}
.navigation__link {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: $color1;
  @include animation(color);
  &:hover,
  &:focus {
    color: $background3;
  }
}
.accent {
  color: $color2;
  &:hover,
  &:focus {
    color: $background3;
  }
}
.header-buttons {
  display: flex;
}
