.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  border-radius: 20px;
  background-color: var(--bg-color);
  color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--secondary-bg-color);
  }
  @media screen and (min-width: 1200px) {
    height: 40px;
  }
}

.link-button--accent {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--secondary-accent-color);
  }
}

.link-button--icon {
  width: 40px;
  height: 40px;
}
.link-button--hero {
  width: 18px;
  height: 18px;
  @media screen and (min-width: 1200px) {
    width: 26px;
    height: 26px;
  }
}

.link-button--text {
  width: 82px;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.28;

  @media screen and (min-width: 1200px) {
    width: 138px;
    font-size: 14px;
  }
}

.link-button__icon {
  width: 10px;
  height: 10px;
  fill: currentColor;
}
.link-button__icon--hero {
  width: 10px;
  height: 7px;
  fill: currentColor;
  @media screen and (min-width: 1200px) {
    height: 10px;
  }
}
