.section-slider {
  padding-bottom: 86px;
}
.container-slider {
  position: relative;
  overflow: hidden;
  min-width: 280px;
  height: 557px;
  margin-left: auto;
  margin-right: auto;
}
.scrol-slider {
  display: flex;
  position: absolute;
  bottom: 2px;
  right: 50%;
  transform: translateX(50%);
  @include animation(transform);
  z-index: 10;
}
.scrol-slider > button {
  margin-left: auto;
  fill: $color6-btn;
}
.scrol-slider > button.is-activ {
  fill: $color7-btn-activ;
}
.scrol-slider > button + button {
  margin-left: 18px;
}
.main-slide {
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  @include animation(transform);
}
.main-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}
.slider-btn {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

/* ****************************************************** */
.reviews-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.reviews-blok {
  padding: 42px 40px 27px 60px;
  margin-bottom: 51px;
  position: relative;
  background: url('../images/quotes.svg') 68px 31px no-repeat,
    linear-gradient($color8-gradient, $color8-gradient);
}
.reviews-text {
  padding: 5px 16px 5px 7px;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  letter-spacing: 0.04em;
  background: repeating-linear-gradient(
    transparent,
    transparent 30px,
    $color9-gradient 30px,
    $color9-gradient 31px
  );
  color: $color4;
}
.reviews-man {
  position: relative;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: $color4;
  &::before {
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
    content: '\2022\202F\202F\202F\2022\202F\202F\202F\2022';
    color: $background3;
  }
}

@media screen and (min-width: 323px) {
  .container-slider {
    height: 527px;
  }
}
@media screen and (min-width: 334px) {
  .container-slider {
    height: 498px;
  }
}
@media screen and (min-width: 376px) {
  .container-slider {
    height: 466px;
  }
}
@media screen and (min-width: 428px) {
  .container-slider {
    height: 435px;
  }
}
@media screen and (min-width: 768px) {
  .section-slider {
    padding-bottom: 119px;
  }
  .container-slider {
    height: 381px;
    width: 620px;
  }
  .reviews-img {
    margin-bottom: 19px;
  }
  .reviews-blok {
    padding: 30px 56px 28px 40px;
    margin-bottom: 42px;
    background: url('../images/quotes.svg') 21px 17px no-repeat,
      linear-gradient($color8-gradient, $color8-gradient);
  }
  .reviews-text {
    padding: 5px 44px 5px 20px;
    font-size: 14px;
    line-height: 2.16;
  }
  .reviews-man {
    margin-bottom: 35px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .section-slider {
    padding-bottom: 132px;
  }
  .container-slider {
    height: 350px;
    width: 926px;
  }
  .reviews-img {
    margin-bottom: 15px;
  }
  .reviews-blok {
    padding: 37px 53px 27px 53px;
    margin-bottom: 32px;
    background: url('../images/quotes.svg') 57px 26px no-repeat,
      linear-gradient($color8-gradient, $color8-gradient);
  }
  .reviews-text {
    padding: 5px 25px 5px 35px;
    font-size: 16px;
    line-height: 1.86;
  }
  .reviews-man {
    font-size: 20px;
  }
  .reviews-man::before {
    top: -27px;
  }
}

