.backdrop-product,
.backdrop-beige-product,
.backdrop-green-product {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
}

.backdrop-product.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop-beige-product.is-hidden-beige {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop-green-product.is-hidden-green {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.product-modal,
.product-beige-modal,
.product-green-modal {
  position: absolute;
  width: 320px;
  min-height: 450px;
  border-radius: 10px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-modal {
  background-color: $background1;
}
.product-beige-modal {
  background-color: $background5;
}

.product-green-modal {
  background-color: $background6;
}

.product-close-button,
.product-beige-close-button,
.product-green-close-button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-bg-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--grey-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.product-modal-icon-close,
.product-beige-modal-icon-close,
.product-green-modal-icon-close {
  width: 15px;
  height: 15px;
  fill: currentColor;
}

.text-modal-product {
  text-align: center;
  font-family: $font-main;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.04em;
  color: $color1;
}
