.header-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;

  background: rgba(0, 0, 0, 0.2);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.header-modal {
  min-width: 300px;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: var(--secondary-bg-color);

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (max-width: 480px) {
    padding-bottom: 20px;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 609px;
  }

  @media screen and (min-width: 1280px) {
    width: 528px;
    height: 581px;
  }
}

.header-modal__close-button {
  position: absolute;
  right: 15px;
  top: 15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--secondary-bg-color);

  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--grey-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-modal__icon-close {
  height: 11px;
  width: 11px;
  fill: currentColor;
}

.header-modal__container {
  margin: 0 auto;
  min-width: 280px;

  @media screen and (max-width: 479px) {
    width: 280px;
  }

  @media screen and (min-width: 480px) {
    max-width: 370px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 448px;
  }
}

.header-modal__title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--text-black-color);
}

.header-modal__form {
  min-width: 260px;
  height: 100%;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 370px;
  }

  @media screen and (min-width: 1280px) {
    width: 448px;
  }
}

.header-modal__submit-button {
  background-color: var(--third-bg-color);
  margin: 0 auto;

  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  align-items: center;
  text-align: center;
  border: none;

  color: #ffffff;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--secondary-bg-color);
    color: var(--accent-color);
  }
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field__label {
  position: relative;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-gray-color);
}

.form-field__span {
  position: relative;
  width: 100%;
  height: 100%;
}

.form-field__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;

  margin-top: 4px;
  margin-bottom: 10px;

  cursor: pointer;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:active,
  &:hover {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }

  &-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:focus + &-icon,
  &:active + &-icon,
  &:hover + &-icon {
    fill: var(--accent-color);
  }
}

.form-field__textarea-comment {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;

  margin-bottom: 20px;
  margin-top: 4px;

  resize: none;
  cursor: pointer;

  outline: transparent;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  color: grey;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  height: 120px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus,
  &:hover,
  &:active {
    border-color: var(--accent-color);
  }
}
