.hero {
  background-color: var(--third-bg-color);
}

.hero-bg {
  overflow-y: hidden;
  overflow-x: visible;
  position: relative;
  display: flex;
  background-image: url(../images/hero/ellipse-nodesktop@1x.png);
  background-repeat: no-repeat;
  background-position: bottom 75px left 56px;
  background-size: 345px auto;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/ellipse-nodesktop@2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/hero/sotasty-tablet@1x.png),
      url(../images/hero/milk-tablet@1x.png), url(../images/hero/ellipse-nodesktop@1x.png);
    background-repeat: no-repeat;
    background-position: bottom right 34px, bottom 28px left 34px, bottom 47px left 310px;
    background-size: 168px auto, 124px auto, 324px auto;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/sotasty-tablet@2x.png),
        url(../images/hero/milk-tablet@2x.png), url(../images/hero/ellipse-nodesktop@2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/hero/sotasty-desktop@1x.png),
      url(../images/hero/milk-desktop@1x.png), url(../images/hero/ellipse-desktop@1x.png);
    background-repeat: no-repeat;
    background-position: bottom right 35px, bottom 45px left 20px, bottom 90px left 404px;
    background-size: 293px auto, 188px auto, 538px auto;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/sotasty-desktop@2x.png),
        url(../images/hero/milk-desktop@2x.png), url(../images/hero/ellipse-desktop@2x.png);
    }
  }
}

.hero-main {
  padding: 193px 82px 160px 0;
  width: 290px;

  @media screen and (min-width: 768px) {
    padding: 102px 0 66px 0;
    width: 180px;
  }
  @media screen and (min-width: 1280px) {
    padding: 171px 0 112px 0;
    width: 296px;
  }
}
.hero-main__title {
  margin-bottom: 19px;
  font-family: 'Titan One';
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--white-text-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.18;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 25px;
    font-size: 38px;
    line-height: 1.15;
  }
}
.hero-main__title--accent {
  font-size: 48px;
  line-height: 0.95;
  color: var(--accent-color);

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.91;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 0.91;
  }
}
.hero-main__list {
  display: flex;
}
.hero-main__item:not(:last-child) {
  margin-right: 8px;
  @media screen and (min-width: 1280px) {
    margin-right: 15px;
  }
}
.hero-left {
  position: relative;
  z-index: 1;
  @media screen and (min-width: 768px) {
    width: 50%;
  }
}
.hero-right {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    width: 50%;
    text-align: right;
  }
}
.hero-secondary {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
    padding-left: 130px;
    padding-bottom: 34px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 190px;
    padding-bottom: 56px;
  }
}
.hero-secondary__text {
  margin-bottom: 7px;
  width: 114px;
  font-weight: 400;
  font-style: normal;
  font-size: 8px;
  line-height: 1.5;

  color: var(--white-text-color);

  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;
    width: 200px;
    font-size: 14px;
    line-height: 1.4;
  }
}
.hero-third {
  padding-top: 96px;
  padding-right: 10px;

  @media screen and (min-width: 1280px) {
    padding-top: 160px;
    padding-right: 0;
  }
}
.hero-third__item {
  position: relative;
  background-color: transparent;
  margin-bottom: 14px;

  &::before {
    content: '';
    background-color: #fff;
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    border-radius: 50%;
    top: -2px;
    right: -10px;
    z-index: 1;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 18px;

    &::before {
      content: '';
      background-color: var(--bg-color);
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      border-radius: 50%;
      top: -4px;
      right: -18px;
      z-index: 1;
    }
  }
}
.hero-third__item--number {
  position: relative;
  z-index: 2;
  font-family: 'Titan One';
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  line-height: 1.14;
  color: var(--accent-color);

  @media screen and (min-width: 1280px) {
    display: inline-block;
    margin-bottom: 2px;
    font-size: 46px;
    line-height: 1.15;
  }
}
.hero-third__item--text {
  font-weight: 400;
  font-style: normal;
  font-size: 8px;
  line-height: 1.3;
  color: var(--white-text-color);
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.3;
  }
}
/////////////////////////////////////////////////////////////////////////////////////
.hero-icecream-pic {
  position: absolute;
  z-index: 0;
  left: 117px;
  bottom: 0;
  width: 171px;
  opacity: 0;
  @media screen and (min-width: 420px) {
    left: auto;
    right: 106px;
  }
  @media screen and (min-width: 768px) {
    left: 378px;
    width: 143px;
  }
  @media screen and (min-width: 1280px) {
    width: 236px;
    left: 545px;
  }
  animation-name: icecream-pic;
  animation-duration: 500ms;
  animation-delay: 2100ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes icecream-pic {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

//////////////////////////////////////////////////////////////////

.hero-icecream-element {
  position: absolute;
  animation-iteration-count: 1;
  left: 117px;
  width: 171px;
  @media screen and (min-width: 420px) {
    left: auto;
    right: 106px;
  }
  @media screen and (min-width: 768px) {
    left: 378px;
    width: 143px;
  }
  @media screen and (min-width: 1280px) {
    left: 545px;
    width: 236px;
  }
}

.hero-icecream-p7 {
  bottom: -266px;
  animation-name: icecream-p7;
  animation-duration: 2500ms;
}
@keyframes icecream-p7 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-126px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-126px);
  }
}
.hero-icecream-p6 {
  bottom: 335px;
  animation-name: icecream-p6;
  animation-duration: 2300ms;
  animation-delay: 200ms;
}
@keyframes icecream-p6 {
  0% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(412px);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(412px);
    opacity: 0;
  }
}
.hero-icecream-p5 {
  bottom: 330px;
  animation-name: icecream-p5;
  animation-duration: 2100ms;
  animation-delay: 400ms;
}
@keyframes icecream-p5 {
  0% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(375px);
    opacity: 1;
  }

  100% {
    transform: translateY(375px);
    opacity: 0;
  }
}
.hero-icecream-p4 {
  bottom: 325px;
  animation-name: icecream-p4;
  animation-duration: 1800ms;
  animation-delay: 700ms;
}
@keyframes icecream-p4 {
  0% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(331px);
    opacity: 1;
  }
  100% {
    transform: translateY(331px);
    opacity: 0;
  }
}
.hero-icecream-p3 {
  bottom: 330px;
  animation-name: icecream-p3;
  animation-duration: 1600ms;
  animation-delay: 900ms;
}
@keyframes icecream-p3 {
  0% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(293px);
    opacity: 1;
  }
  100% {
    transform: translateY(293px);
    opacity: 0;
  }
}
.hero-icecream-p2 {
  bottom: 330px;
  animation-name: icecream-p2;
  animation-duration: 1400ms;
  animation-delay: 1100ms;
}
@keyframes icecream-p2 {
  0% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(237px);
    opacity: 1;
  }
  100% {
    transform: translateY(237px);
    opacity: 0;
  }
}
.hero-icecream-p1 {
  bottom: 340px;
  animation-name: icecream-p1;
  animation-duration: 1200ms;
  animation-delay: 1300ms;
}
@keyframes icecream-p1 {
  0% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(187px);
    opacity: 1;
  }
  100% {
    transform: translateY(187px);
    opacity: 0;
  }
}
////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 768px) {
  .hero-icecream-p7 {
    bottom: -225px;
    animation-name: icecream-p7;
    animation-duration: 2500ms;
  }
  @keyframes icecream-p7 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-105px);
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(-105px);
    }
  }
  .hero-icecream-p6 {
    bottom: 260px;
    animation-name: icecream-p6;
    animation-duration: 2300ms;
    animation-delay: 200ms;
  }
  @keyframes icecream-p6 {
    0% {
      transform: translateY(0);
    }
    70% {
      transform: translateY(327px);
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translateY(327px);
      opacity: 0;
    }
  }
  .hero-icecream-p5 {
    bottom: 260px;
    animation-name: icecream-p5;
    animation-duration: 2100ms;
    animation-delay: 400ms;
  }
  @keyframes icecream-p5 {
    0% {
      transform: translateY(0);
    }
    90% {
      transform: translateY(301px);
      opacity: 1;
    }

    100% {
      transform: translateY(301px);
      opacity: 0;
    }
  }
  .hero-icecream-p4 {
    bottom: 260px;
    animation-name: icecream-p4;
    animation-duration: 1800ms;
    animation-delay: 700ms;
  }
  @keyframes icecream-p4 {
    0% {
      transform: translateY(0);
    }
    90% {
      transform: translateY(268px);
      opacity: 1;
    }
    100% {
      transform: translateY(268px);
      opacity: 0;
    }
  }
  .hero-icecream-p3 {
    bottom: 260px;
    animation-name: icecream-p3;
    animation-duration: 1600ms;
    animation-delay: 900ms;
  }
  @keyframes icecream-p3 {
    0% {
      transform: translateY(0);
    }
    90% {
      transform: translateY(233px);
      opacity: 1;
    }
    100% {
      transform: translateY(233px);
      opacity: 0;
    }
  }
  .hero-icecream-p2 {
    bottom: 260px;
    animation-name: icecream-p2;
    animation-duration: 1400ms;
    animation-delay: 1100ms;
  }
  @keyframes icecream-p2 {
    0% {
      transform: translateY(0);
    }
    90% {
      transform: translateY(186px);
      opacity: 1;
    }
    100% {
      transform: translateY(186px);
      opacity: 0;
    }
  }
  .hero-icecream-p1 {
    bottom: 264px;
    animation-name: icecream-p1;
    animation-duration: 1200ms;
    animation-delay: 1300ms;
  }
  @keyframes icecream-p1 {
    0% {
      transform: translateY(0);
    }
    90% {
      transform: translateY(139px);
      opacity: 1;
    }
    100% {
      transform: translateY(139px);
      opacity: 0;
    }
  }
}
//////////////////////////////////////////////////////////////////

@media screen and (min-width: 1280px) {
  .hero-icecream-p7 {
    bottom: -370px;
    animation-name: icecream-p7;
    animation-duration: 2500ms;
  }
  @keyframes icecream-p7 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-173px);
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(-173px);
    }
  }
  .hero-icecream-p6 {
    bottom: 440px;
    animation-name: icecream-p6;
    animation-duration: 2300ms;
    animation-delay: 200ms;
  }
  @keyframes icecream-p6 {
    0% {
      transform: translateY(0);
    }
    70% {
      transform: translateY(549px);
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translateY(549px);
      opacity: 0;
    }
  }
  .hero-icecream-p5 {
    bottom: 440px;
    animation-name: icecream-p5;
    animation-duration: 2100ms;
    animation-delay: 400ms;
  }
  @keyframes icecream-p5 {
    0% {
      transform: translateY(0);
    }
    90% {
      transform: translateY(506px);
      opacity: 1;
    }

    100% {
      transform: translateY(506px);
      opacity: 0;
    }
  }
  .hero-icecream-p4 {
    bottom: 440px;
    animation-name: icecream-p4;
    animation-duration: 1800ms;
    animation-delay: 700ms;
  }
  @keyframes icecream-p4 {
    0% {
      transform: translateY(0);
    }
    90% {
      transform: translateY(453px);
      opacity: 1;
    }
    100% {
      transform: translateY(453px);
      opacity: 0;
    }
  }
  .hero-icecream-p3 {
    bottom: 440px;
    animation-name: icecream-p3;
    animation-duration: 1600ms;
    animation-delay: 900ms;
  }
  @keyframes icecream-p3 {
    0% {
      transform: translateY(0);
    }
    90% {
      transform: translateY(394px);
      opacity: 1;
    }
    100% {
      transform: translateY(394px);
      opacity: 0;
    }
  }
  .hero-icecream-p2 {
    bottom: 440px;
    animation-name: icecream-p2;
    animation-duration: 1400ms;
    animation-delay: 1100ms;
  }
  @keyframes icecream-p2 {
    0% {
      transform: translateY(0);
    }
    90% {
      transform: translateY(316px);
      opacity: 1;
    }
    100% {
      transform: translateY(316px);
      opacity: 0;
    }
  }
  .hero-icecream-p1 {
    bottom: 450px;
    animation-name: icecream-p1;
    animation-duration: 1200ms;
    animation-delay: 1300ms;
  }
  @keyframes icecream-p1 {
    0% {
      transform: translateY(0);
    }
    90% {
      transform: translateY(243px);
      opacity: 1;
    }
    100% {
      transform: translateY(243px);
      opacity: 0;
    }
  }
}
// MODAL

.products-backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
  }
}

.products-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 90vw;

  padding: 40px;

  border-radius: 24px;

  @media screen and (min-width: 480px) {
    width: 400px;
  }

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1280px) {
    width: 550px;
  }
}

// .products-modal--first {
//   background-color: rgba(255, 184, 202, 0.9);
// }

// .products-modal--second {
//   background-color: rgba(240, 209, 165, 0.9);
// }

// .products-modal--third {
//   background-color: rgba(194, 226, 151, 0.9);
// }

.products-modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.products-modal__icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .products-modal__close-btn:hover &,
  .products-modal__close-btn:focus & {
    fill: #d41443;
  }
}

.products-modal__title {
  margin-bottom: 15px;

  font-family: 'Titan One', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media screen and (min-width: 1280px) {
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 1.13;
  }
}

.products-modal--fourth {
  background-color: #fff;
}

.products-modal__title--fourth {
  color: #d41443;
}

.products-modal__description--hero {
  color: #907e82;
}

.products-modal__description {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    line-height: 1.76;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
