.hero {
  background-color: var(--third-bg-color);
}

.hero-bg {
  overflow-y: hidden;
  overflow-x: visible;
  position: relative;
  display: flex;
  background-image: url(../images/hero/ellipse-nodesktop@1x.png);
  background-repeat: no-repeat;
  background-position: bottom 75px left 56px;
  background-size: 345px auto;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/ellipse-nodesktop@2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/hero/sotasty-tablet@1x.png),
      url(../images/hero/milk-tablet@1x.png), url(../images/hero/ellipse-nodesktop@1x.png);
    background-repeat: no-repeat;
    background-position: bottom right 34px, bottom 28px left 34px, bottom 47px left 310px;
    background-size: 168px auto, 124px auto, 324px auto;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/sotasty-tablet@2x.png),
        url(../images/hero/milk-tablet@2x.png), url(../images/hero/ellipse-nodesktop@2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/hero/sotasty-desktop@1x.png),
      url(../images/hero/milk-desktop@1x.png), url(../images/hero/ellipse-desktop@1x.png);
    background-repeat: no-repeat;
    background-position: bottom right 35px, bottom 45px left 20px, bottom 90px left 404px;
    background-size: 293px auto, 188px auto, 538px auto;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/sotasty-desktop@2x.png),
        url(../images/hero/milk-desktop@2x.png), url(../images/hero/ellipse-desktop@2x.png);
    }
  }
}

.hero-main {
  padding: 193px 82px 160px 0;
  width: 290px;

  @media screen and (min-width: 768px) {
    padding: 102px 0 66px 0;
    width: 180px;
  }
  @media screen and (min-width: 1280px) {
    padding: 171px 0 112px 0;
    width: 296px;
  }
}
.hero-main__title {
  margin-bottom: 19px;
  font-family: 'Titan One';
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--white-text-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.18;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 25px;
    font-size: 38px;
    line-height: 1.15;
  }
}
.hero-main__title--accent {
  font-size: 48px;
  line-height: 0.95;
  color: var(--accent-color);

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.91;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 0.91;
  }
}
.hero-main__list {
  display: flex;
}
.hero-main__item:not(:last-child) {
  margin-right: 8px;
  @media screen and (min-width: 1280px) {
    margin-right: 15px;
  }
}
.hero-left {
  position: relative;
  z-index: 1;
  @media screen and (min-width: 768px) {
    width: 50%;
  }
}
.hero-middle {
  position: absolute;
  bottom: 0;
  left: 145px;

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 0;
    left: 378px;
  }
  @media screen and (min-width: 1280px) {
    position: absolute;
    bottom: 0;
    left: 540px;
  }
}

.rotation {
  animation: rotate-ice 15s infinite cubic-bezier(0.17, 0.67, 0.96, -0.4) 2000ms;
}

@keyframes rotate-ice {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }

  51% {
    transform: perspective(400px) rotateY(180deg);
  }

  100% {
    transform: perspective(400px) rotateY(360deg);
  }
}

.hero-right {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    width: 50%;
    text-align: right;
  }
}
.hero-secondary {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
    padding-left: 130px;
    padding-bottom: 34px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 190px;
    padding-bottom: 56px;
  }
}
.hero-secondary__text {
  margin-bottom: 7px;
  width: 114px;
  font-weight: 400;
  font-style: normal;
  font-size: 8px;
  line-height: 1.5;

  color: var(--white-text-color);

  @media screen and (min-width: 1200px) {
    margin-bottom: 20px;
    width: 200px;
    font-size: 14px;
    line-height: 1.4;
  }
}
.hero-third {
  padding-top: 96px;
  padding-right: 10px;

  @media screen and (min-width: 1280px) {
    padding-top: 160px;
    padding-right: 0;
  }
}
.hero-third__item {
  position: relative;
  background-color: transparent;
  margin-bottom: 14px;

  &::before {
    content: '';
    background-color: #fff;
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    border-radius: 50%;
    top: -2px;
    right: -10px;
    z-index: 1;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 18px;

    &::before {
      content: '';
      background-color: var(--bg-color);
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      border-radius: 50%;
      top: -4px;
      right: -18px;
      z-index: 1;
    }
  }
}
.hero-third__item--number {
  position: relative;
  z-index: 2;
  font-family: 'Titan One';
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  line-height: 1.14;
  color: var(--accent-color);

  @media screen and (min-width: 1280px) {
    display: inline-block;
    margin-bottom: 2px;
    font-size: 46px;
    line-height: 1.15;
  }
}
.hero-third__item--text {
  font-weight: 400;
  font-style: normal;
  font-size: 8px;
  line-height: 1.3;
  color: var(--white-text-color);
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.3;
  }
}
