.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
  background-color: $background11;
  z-index: 900;
  transform: translateX(110%);
  transition: transform 500ms cubic-bezier(0.17, 0.67, 0.96, -0.4);
  filter: drop-shadow(-8px 0px 20px $color-shadow3);

  @media screen and (min-width: 480px) {
    width: 254px;
  }

  &.is-open {
    transform: translateX(0);
    transition: transform 250ms cubic-bezier(0.17, 0.67, 0.96, -0.4);
  }

  &__close {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 23px;
    right: 28px;
    background-color: transparent;
  }

  &__close-icon {
    fill: $color1;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:hover {
      fill: $color2;
    }
  }
  &__list {
    border-top: 1px solid $background11;
  }
  &__item {
    border-bottom: 1px solid $background11;
  }
  &__link {
    display: block;
    text-align: left;
    padding: 12px 0 12px 24px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    color: $color1;
    @include animation(color);

    &:hover,
    &:hover {
      color: $color2;
    }
  }
}

.main-button--mobile-menu {
  width: 209px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 19px;
}
.main-button__icon--mobile-menu {
  margin-left: 15px;
}

.is-open-btn {
  opacity: 0;
  pointer-events: none;
}
.js-buy-hide,
.js-open-menu-hide {
  @include animation(opacity);
}
